# -----------------------------------------------------------
# Исходники Дизайна (Исключаются по требованию и по размеру)
# -----------------------------------------------------------
/design
/style-guide
*.sketch
*.fig
*.xd

# -----------------------------------------------------------
# Сгенерированные Зависимости
# -----------------------------------------------------------
/node_modules

# -----------------------------------------------------------
# Логи, Кэш и Временные Файлы
# -----------------------------------------------------------
.DS_Store
.prettierignore
npm-debug.log*
*.swp                 # Игнорируем временные файлы редакторов, вроде README-template.md.swp
README-template.md    # Игнорируем сам шаблон
